body {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  background-color: black;
  color: yellow;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.couple-photo {
  width: 100%;
  height: auto;
  border-radius: 10px; /* Optional: adds rounded corners to the image */
}

.button-container button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: #FFF;
  background-color: #333; /* Dark background for buttons */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #777; /* Lighter background on hover */
}

.content-image {
  max-width: 100%; /* Ensures the image is responsive and fits within its container */
  height: auto; /* Maintains aspect ratio */
  display: block; /* Centers the image in the container */
  margin: 20px auto; /* Adds some space above and below the image */
}

